.InsuranceSlipModal{
  :global{
    .ant-col-12:first-of-type{
      color: #939BA4;
      span>span{
        display: inline-block;
        margin-left: 30px;
      }
    }
    .ant-col-12:last-of-type{
      color: #0082FE;
      text-align: right;
    }
    .tablePolicy{
      width: 100%;
      font-size:12px;
      border-radius:5px;
      background:#f5fbff;
      :global{
        tr{
          height: 32px;
        }
        tr:last-of-type{
          height: 50px;
          vertical-align:top;
        }
        tr>th,tr>td{
          text-indent: 12px;
        }
        td{
          color: #1B56A5;
          border: 1px solid #E2E4E8;
        }
        tr:first-of-type>th,tr:first-of-type>td{
          border-top: 1px solid #939BA4;
        }
        tr:not(.tr)>th:first-of-type:not(.col){
          border-left: 1px solid #939BA4;
          border-bottom: 1px solid #E2E4E8;
        }
        .tr>.row,.tr>td{
          border-bottom: 1px solid #939BA4;
        }
        .col{
          border-left:1px solid #939BA4;
        }
        .row{
          border:1px solid #E2E4E8;
        }
        tr:nth-of-type(3)>td,
        tr:nth-of-type(3)>th{
          border-bottom: 1px solid #939BA4;
        }
        tr>td:last-of-type{
          border-right: 1px solid #939BA4;
        }
        tr:last-of-type>td:last-of-type{
          border-left: 1px solid #939BA4;
          border-bottom: 1px solid #939BA4;
        }
        tr:nth-last-of-type(5)>th:last-of-type{
          border-right: 1px solid #939BA4;
          border-top: 1px solid #939BA4;
        }
        tr:nth-last-of-type(4)>td:last-of-type,tr:nth-last-of-type(3)>td:last-of-type,tr:nth-last-of-type(2)>td:last-of-type{
          border-left: 1px solid #939BA4;
        }
        tr:nth-last-of-type(4)>td:last-of-type,tr:nth-last-of-type(2)>td:last-of-type{
          border-bottom: 1px solid #939BA4;
        }
        tr >th> span{
          display: inline-block;
          width: 33.33%;
          text-align: center;
        }
        tr > td > p{
          width: 100%;
          margin: 5px 0;
        }
        tr > td > p >span{
          display: inline-block;
          width: 33.33%;
          text-align: center;

        }
        .td_span{
          color: #333;
        }
        .td_insurance{
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
    .tableSend{
      margin-top: 20px;
      width: 100%;
      font-size:12px;
      border-radius:5px;
      background:#f5fbff;
      :global{
        tr{
          text-indent: 12px;
        }
        tr:first-of-type{
          height: 32px;
          border-top: 1px solid #939BA4;
          border-left: 1px solid #939BA4;
          border-right: 1px solid #939BA4;
          border-bottom: 1px solid #E2E4E8;
        }
        tr:last-of-type{
          height: 54px;
          border-bottom: 1px solid #939BA4;
          border-left: 1px solid #939BA4;
          border-right: 1px solid #939BA4;
          border-top: 1px solid #E2E4E8;
        }
        .td_span{
          color: #333;
        }
        .td_insurance{
          display: inline-block;
          margin-left: 5px;
          width: 80%;
          vertical-align: top;
          color: #1B56A5;
        }
      }
    }
  }
}
.totalPrice{
  font-size: 14px;
  color: #333;
  :global{
    .allNum{
      color: #0082FE;
      font-size: 20px;
    }
    .listNum{
      color: #939BA4;
    }
    .comNum,.cosNum{
      color: #333;
    }
  }

}

.table{
  :global {
    .status{
      display: inline-block;
      width: 80%;
      height: 24px;
      border-radius: 12px;
      color: #fff;
      line-height: 24px;
      &.willAudit{
        background: #F6BE1A;
        box-shadow: 2px 0 4px #F6BE1A;
      }
      &.doneAudit{
        background: #0DCBE4;
        box-shadow: 2px 0 4px #0DCBE4;
      }
      &.outtimeAudit{
        background: #FF5640;
        box-shadow: 2px 0 4px #FF5640;
      }
    }
    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      width: 7%;
      &:nth-of-type(2){
        width: 5%;
      }
      &:nth-of-type(5){
        width: 9%;
      }
      &:nth-of-type(6){
        width: 9%;
      }
      &:nth-of-type(7){
        width: 5%;
      }
      &:nth-of-type(8){
        width: 11%;
      }
      &:nth-of-type(13){
        width: 5%;
      }
      &:nth-of-type(14){
        width: 5%;
      }
    }
    .ant-table-tbody > tr > td {
      &:nth-of-type(14){
        cursor: default;
      }
    }
  }
}
