:global{
  .page{
    margin-Bottom: 10px;
    text-Align: right;
    font-Size: 13px;
  }
  .anniu{
    margin-top: 50px;
    text-Align: left;
    font-Size: 13px;
  }
  .Tabs{
    flex-direction: row;
    display: flex;
    line-height: 30px;
  }
  .biaoti{
    margin-Left:5px;
    font-Size:15px;
    font-weight:bold;
  }
  .ant-modal-footer{
    text-align: center!important;
  }
  .useInfoRow{
    flex-direction: row;
    display: flex;
    line-height: 30px;
    margin-left: 10px;
    & >p{
      display: block;
      margin-bottom: 0;
      margin-left: 8px;
      font-size: 15px;
    }
    & >p:nth-child(1),p:nth-child(3),p:nth-child(5),p:nth-child(7){
      flex:1.6;
      text-align: right;
      color: #8f9090;
    }
    & >p:nth-child(2),p:nth-child(4),p:nth-child(6),p:nth-child(8){
      flex:2;
      color: #000;
    }
  }
  .listInfoRow {
    flex-direction: row;
    display: flex;
    line-height: 30px;
    & > p {
      display: block;
      margin-bottom: 0;
      font-size: 15px;
    }
    & > p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4), p:nth-child(5) {
      flex: 0.1;
      text-align: left;
      color: #000;
    }
    & >div:nth-child(1){
      flex: 0.15;
      text-align: right;
      color: #8f9090;
      font-size: 15px;
    }
  }
  .card-container > .ant-tabs-card > .ant-tabs-content {
    height: 100px;
    margin-top: -16px;
  }

  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 15px 15px 0 0;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
    width: 68px;
    margin-left: 30px;

  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }

}

