.bg{
  background: #fff;
  padding: 24px 16px;
  font-family: 'MicrosoftYaHei';
}
.selectBox{
  font-size: 14px;
  margin-bottom: 32px;
  :global{
    .ant-col-20:nth-of-type(2){
      margin-top: 32px;
    }
    .title{
      color: #939BA4;
    }
    .detail{
      color: #333;
    }
    .select{
      color: #0082FE;
      cursor: pointer;
    }
    .anticon:before{
      color: red;
    }
  }
}
.selectContent{
  :global{
    .title{
      font-size: 14px;
      color: #939BA4;
    }
    .detail{
      font-size: 20px;
      color: #0082FE;
    }
    .saveBtn{
      background: #0082FE;
      color: #fff;
      font-size: 14px;
      width: 103px;
      height: 43px;
      margin-top: 32px;
    }
  }
}
.table {
  :global {
    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      width: 12.5%;
    }
  }
}
