.Quote {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border-radius: 5px;
}
.title{
  width: 98%;
  margin: 0 auto;
}
.SendInfo{
  :global {
    .info{
      width: 98%;
      margin: 0 auto;
    }
  }
}
