.Quote {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}
.title{
  width: 98%;
  margin: 0 auto;
}
.TimeInfo{
  :global{
    .cutTxt{
      display: inline-block;
      margin: 0 10px;
    }
    .timeBtn{
      margin-left: 15px;
      background: transparent;
      color: #0082fe;
      height: 30px;
      border: 1px solid #0082fe;
      border-radius: 15px;
    }
  }
}
